<a href="https://colab.research.google.com/github/Given-cpu/Pandas-/blob/main/3_Filtering_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
bio = pd.read_csv('bios.csv')
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [7]:
bio.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [25]:
bio.loc[bio['height_cm'] > 220, ['name']]

                   name
5673     Gunther Behnke
5781     Tommy Burleson
6978    Arvydas Sabonis
89070          Yao Ming
89075    Roberto Dueñas
120266     Zhang Zhaoxu

In [14]:
bio[bio['height_cm'] > 220]['name']

5673       Gunther Behnke
5781       Tommy Burleson
6978      Arvydas Sabonis
89070            Yao Ming
89075      Roberto Dueñas
120266       Zhang Zhaoxu
Name: name, dtype: object

In [24]:
bio[(bio['height_cm'] > 220) & (bio['born_country'] == 'CHN')]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN

In [43]:
bio[bio['born_date'].str.contains('08-24', na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
814,818,"Alberto, Conte Bonacossa",1883-08-24,Vigevano,Pavia,ITA,Italy,NaN,NaN,1953-01-30
1030,1037,Christian Ruud,1972-08-24,Oslo,Oslo,NOR,Norway,188.0,75.0,NaN
2806,2818,Slobodan Grujić,1973-08-24,Novi Sad,Južna Bačka,SRB,Independent Olympic Athletes Serbia and Monten...,180.0,76.0,NaN
2932,2944,Hannes Koivunen,1911-08-24,Helsinki,Uusimaa,FIN,Finland,NaN,NaN,1990-09-29
4285,4299,Felix Maina,1954-08-24,NaN,NaN,NaN,Kenya,175.0,51.0,NaN
...,...,...,...,...,...,...,...,...,...,...
143714,147369,Timothy Lam,1997-08-24,NaN,NaN,NaN,United States,NaN,NaN,NaN
144360,148050,Wang Zhiyu,1996-08-24,Harbin,Heilongjiang,CHN,People's Republic of China,NaN,NaN,NaN
144407,148097,Xiang Xudong,1995-08-24,Harbin,Heilongjiang,CHN,People's Republic of China,177.0,80.0,NaN
145089,148801,Nikita Novitsky,2000-08-24,Ust-Ilimsk,Irkutsk,RUS,ROC,NaN,NaN,NaN
145152,148869,Anna Vostrikova,2002-08-24,Rybinsk,Yaroslavl,RUS,ROC,NaN,NaN,NaN

In [51]:
bio[bio['name'].str.contains('zane', case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
812,816,Adriana Serra-Zanetti,1976-03-05,Modena,Modena,ITA,Italy,160.0,58.0,NaN
10397,10453,Maria Kazanecka-Górecka,1955-08-29,Poznań,Wielkopolskie,POL,Poland,167.0,66.0,NaN
20093,20236,Roger Zanetti,1930-07-16,Yverdon-les-Bains,Vaud,SUI,Switzerland,172.0,71.0,2014-01-13
23788,23972,Javier Zanetti,1973-08-10,Buenos Aires,Ciudad Autónoma de Buenos Aires,ARG,Argentina,178.0,73.0,NaN
30336,30569,Luigi Zanetti,1921-09-20,Padova,Padova,ITA,Italy,NaN,NaN,2008-06-09
44488,44829,Bram Zanella,1918-09-27,Amaro,Udine,ITA,Venezuela,172.0,74.0,NaN
45350,45695,Paulo Zanetti,1952-09-24,São Paulo,São Paulo,BRA,Brazil,184.0,80.0,NaN
48317,48670,Yoshiko Morizane,1948-09-04,NaN,NaN,NaN,Japan,150.0,48.0,NaN
59114,59539,Zane Coleman,1960-12-24,NaN,NaN,NaN,New Zealand,180.0,74.0,NaN
63742,64222,Alberto Zanetti,1956-05-02,NaN,NaN,NaN,Argentina,185.0,92.0,NaN
66083,66587,Ouattara Lagazane,1963-01-01,Bondoukou,Zanzan,CIV,Côte d'Ivoire,177.0,72.0,NaN
90248,90971,Clayton Zane,1977-07-12,Newcastle,New South Wales,AUS,Australia,188.0,92.0,NaN
90366,91089,Cristiano Zanetti,1977-04-10,Carrara,Massa-Carrara,ITA,Italy,182.0,78.0,NaN
108110,109252,Zane Christensen,1985-07-19,Ipswich,Queensland,AUS,Australia,208.0,104.0,NaN
109076,110258,Evelyn Bazzanella,1976-06-15,Bolzano,Bolzano-Bozen,ITA,Italy,168.0,58.0,NaN
110639,111862,Zane Tamane,1983-09-24,Rīga,Rīga,LAT,Latvia,196.0,77.0,NaN
110642,111865,Zane Eglīte,1984-12-10,Jūrmala,Jūrmala,LAT,Latvia,170.0,65.0,NaN
114549,115861,Zane Jordan,1991-07-18,Mufulira,Copperbelt,ZAM,Zambia,177.0,79.0,NaN
116327,117716,Jelena Zanevskaja,1987-04-02,Vilnius,Vilnius,LTU,Lithuania,162.0,52.0,NaN
125552,127897,Farzaneh Reza Soltani,1985-09-13,Tehran,Tehran,IRI,Islamic Republic of Iran,157.0,53.0,NaN
126871,129267,Bia Zaneratto,1993-12-17,Araraquara,São Paulo,BRA,Brazil,176.0,69.0,NaN
132485,135358,Zane Robertson,1989-11-14,NaN,NaN,NaN,New Zealand,185.0,62.0,NaN
136572,139799,Zane Kaluma,2004-12-03,NaN,NaN,NaN,Latvia,NaN,NaN,NaN
137780,141156,Rafaela Zanellato,1999-11-25,Curitiba,Paraná,BRA,Brazil,163.0,68.0,NaN
140289,143793,Farzaneh Fasihi,1993-01-03,Isfahan,Isfahan,IRI,Islamic Republic of Iran,NaN,NaN,NaN
140636,144149,Zane Weir,1995-09-07,Amanzimtoti,KwaZulu-Natal,RSA,Italy,NaN,NaN,NaN

In [52]:
bio[bio['name'].str.contains(r'son$|sen$',case=False,na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
37,38,Helen Aitchison,1881-12-06,Sunderland,England,GBR,Great Britain,NaN,NaN,1947-05-26
92,93,Anne Gibson,1968-10-26,Dumfries,Scotland,GBR,Great Britain,173.0,70.0,NaN
107,108,Anders Nielsen,1967-02-24,Cape Town,Western Cape,RSA,Great Britain,173.0,70.0,2010-07-29
113,114,Julian Robertson,1969-10-09,Peterborough,England,GBR,Great Britain,182.0,73.0,NaN
120,121,Chris Wilkinson,1970-01-05,Southampton,England,GBR,Great Britain,180.0,72.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145419,149142,Jake Sanderson,2002-07-08,Whitefish,Montana,USA,United States,NaN,NaN,NaN
145424,149147,Jonathan Gustafson,1997-03-05,Massena,New York,USA,United States,NaN,NaN,NaN
145441,149164,Casey Dawson,2000-08-02,Park City,Utah,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145461,149188,Kent Johnson,2002-10-18,Port Moody,British Columbia,CAN,Canada,185.0,75.0,NaN

In [65]:
bio[bio['born_country'].isin(['CHN','GBR','USA']) & bio['name'].str.startswith('Kate')]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
18574,18701,Kate Parker,1963-09-09,London,England,GBR,Great Britain,166.0,64.0,NaN
29058,29272,Kate Nelson,1977-12-27,Evanston,Illinois,USA,United States,NaN,NaN,NaN
32906,33154,Kate Donahoo,1966-03-27,Las Vegas,Nevada,USA,United States,160.0,56.0,NaN
32949,33198,Kate Howey,1973-05-31,Andover,England,GBR,Great Britain,170.0,69.0,NaN
36867,37161,Kate Grose,1959-02-07,Haverhill,England,GBR,Great Britain,182.0,66.0,NaN
36873,37168,Kate Holroyd,1963-06-05,Bradford,England,GBR,Great Britain,175.0,70.0,NaN
36881,37176,Kate MacKenzie,1967-02-26,Mortlake,England,GBR,Great Britain,178.0,75.0,NaN
36883,37178,Kate McNicol,1961-07-19,Barry,Wales,GBR,Great Britain,176.0,72.0,NaN
36888,37183,Kate Panter,1962-05-03,Great Barr,England,GBR,Great Britain,178.0,70.0,NaN
36890,37185,Kate Pollitt,1967-08-24,Norwich,England,GBR,Great Britain,178.0,73.0,NaN
77371,77962,Kate Schmidt,1953-12-29,Long Beach,California,USA,United States,186.0,80.0,NaN
90233,90956,Kate Sobrero-Markgraf,1976-08-23,Pontiac,Michigan,USA,United States,170.0,61.0,NaN
91082,91808,Kate Richardson-Walsh,1980-05-09,Withington,England,GBR,Great Britain,171.0,66.0,NaN
91753,92483,Kate Allenby,1974-03-16,Marylebone,England,GBR,Great Britain,177.0,72.0,NaN
103201,104173,Kate Mackenzie,1975-04-10,Novi,Michigan,USA,United States,177.0,76.0,NaN
103264,104237,Kate Johnson,1978-12-18,Portland,Oregon,USA,United States,177.0,74.0,NaN
106648,107756,Kate O'Neill,1980-07-29,Mitton,Massachusetts,USA,United States,162.0,49.0,NaN
112768,114052,Katelyn Falgowski,1988-10-23,Wilmington,Delaware,USA,United States,168.0,63.0,NaN
112778,114062,Kate Barber,1976-11-22,West Chester,Pennsylvania,USA,United States,160.0,55.0,NaN
113213,114504,Kate Reed,1982-09-28,Bristol,England,GBR,Great Britain,168.0,50.0,NaN
114373,115682,Kate Haywood,1987-04-01,Grimsby,England,GBR,Great Britain,178.0,68.0,NaN
114406,115715,Kate Ziegler,1988-06-27,Fairfax,Virginia,USA,United States,183.0,73.0,NaN
114833,116156,Kate Hooven,1985-01-03,Newton,Massachusetts,USA,United States,173.0,66.0,NaN
121408,123393,Kate Macgregor,1991-01-12,Poole,England,GBR,Great Britain,158.0,60.0,NaN
126398,128751,Kate Hansen,1992-06-09,Burbank,California,USA,United States,170.0,59.0,NaN
127778,130257,Kate French,1991-02-11,Meopham,England,GBR,Great Britain,175.0,65.0,NaN
129419,132035,Kate Grace,1988-10-24,Los Angeles,California,USA,United States,173.0,55.0,NaN
129517,132136,Kate Bertko,1983-11-08,Oakland,California,USA,United States,175.0,58.0,NaN
129518,132137,Katelin Snyder-Guregian,1987-08-16,Nashua,New Hampshire,USA,United States,163.0,50.0,NaN
136074,139296,Kate Wang,2005-03-31,Lansing,Michigan,USA,United States,NaN,NaN,NaN
139594,143070,Kate Shortman,2001-11-19,Bristol,England,GBR,Great Britain,NaN,NaN,NaN
143517,147169,Kate Courtney,1995-10-29,San Francisco,California,USA,United States,163.0,52.0,NaN
143651,147305,Kate Nye,1999-01-05,Bowlegs,Oklahoma,USA,United States,163.0,75.0,NaN

In [66]:
bio.query('height_cm > 220 and born_country == "CHN"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN